% CONFIG_NAMESPACES=y
% CONFIG_NET_NS=y
% CONFIG_PID_NS=y
% CONFIG_IPC_NS=y
% CONFIG_UTS_NS=y
% CONFIG_MD_RAID0=y
% CONFIG_MD_RAID1=y
% CONFIG_MD_RAID10=y
% CONFIG_MD_RAID456=y
% CONFIG_DM_CRYPT=y
% CONFIG_CRYPTO_DEV_FSL_CAAM=y
% CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API=y
% CONFIG_CRYPTO_DEV_FSL_CAAM_DMA=y
% CONFIG_STACKTRACE=y
% CONFIG_CRYPTO_PCRYPT=m
%
% CONFIG_CIFS=m
% # CONFIG_CIFS_STATS2 is not set
% CONFIG_CIFS_ALLOW_INSECURE_LEGACY=y
% CONFIG_CIFS_UPCALL=y
% CONFIG_CIFS_XATTR=y
% CONFIG_CIFS_POSIX=y
% CONFIG_CIFS_DEBUG=y
% # CONFIG_CIFS_DEBUG2 is not set
% # CONFIG_CIFS_DEBUG_DUMP_KEYS is not set
% CONFIG_CIFS_DFS_UPCALL=y
% CONFIG_CIFS_SWN_UPCALL=y
% # CONFIG_CIFS_SMB_DIRECT is not set
% CONFIG_CIFS_FSCACHE=y
%
% CONFIG_HFS_FS=m
% CONFIG_HFSPLUS_FS=m
%
% CONFIG_WIREGUARD=m
%
% CONFIG_NTFS_FS=m